@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: gray;
}

@layer utilities {
  .expense-item-bg {
    background-color: #4b4b4b;
  }

  .expense-date-bg {
    background-color: #2a2a2a;
  }

  .expense-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .card {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }

}

@layer components {
  .expense-item {
    @apply flex justify-between items-center p-1 my-3 expense-item-bg ;
  }
  
  .expense-item__description {
    @apply flex flex-col-reverse gap-3 items-end justify-start flex-1;
  }
  
  .expense-item__price {
    @apply text-lg font-bold text-white border border-white p-2;

    background-color: #40005d;
  }
  
  .expense-date {
    @apply flex flex-col items-center justify-center
    w-[5.5rem] h-[5.5rem] border
    text-white border-white expense-date-bg;
  }

  .expense-date__month {
    @apply text-lg font-bold;
  }
  
  .expense-date__year {
    @apply text-[0.75rem];
  }
  
  .expense-date__day {
    @apply text-2xl font-bold;
  }


  @media (min-width: 580px) {
    .expense-item__description {
      @apply flex-row items-center justify-start flex-1;
    }
  
    .expense-item__price {
      @apply text-xl py-2 px-6;
    }
  }
}

